@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap')

/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas (https://codepen.io/eduardoboucas/)
=responsive-font($responsive, $min, $max: false, $fallback: false)
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == "vh", "height", "width")
  $min-breakpoint: $min / $responsive-unitless * 100 / 16px + 0em
  @media (max-#{$dimension}: #{$min-breakpoint})
    font-size: $min
  @if $max
    $max-breakpoint: $max / $responsive-unitless * 100 / 16px + 0em
    @media (min-#{$dimension}: #{$max-breakpoint})
      font-size: $max
  @if $fallback
    font-size: $fallback
  font-size: $responsive

$break-mid: 768px

@keyframes textFadeIn
  0% 
    opacity: 0
  100%
    opacity: 1

@keyframes slowTextFadeIn
  0%
    opacity: 0 
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

.wrapper
  height: 73vh
  
.main-heading
  animation-name: textFadeIn
  animation-duration: 0.8s
  font-family: 'Overpass', sans-serif
  font-weight: 1000
  color: #341F2C
  user-select: none
  width: 90%
  margin: 55px 0 25px 60px
  +responsive-font(5vw, 39px, 40px)
  line-height: 1.2em
  @media (max-width: 900px)
    +responsive-font(4.3vw, 28px, 31px)
    width: 85%
    margin-top: 50px
  @media (max-width: $break-mid)
    +responsive-font(4.2vw, 26px, 27px)
    margin: 30px 0 10px 30px
    width: 85%

.information-body
  animation-name: slowTextFadeIn
  animation-duration: 0.8s
  font-family: 'Overpass', sans-serif
  font-weight: 1000
  color: #341F2C
  user-select: none
  font-weight: 10
  height: 56vh
  margin: 0 0 0 60px
  width: 100%
  +responsive-font(2vw, 15px, 20px)
  width: 95%
  line-height: 1.3em
  @media (max-width: $break-mid)
    margin: 0 0 30px 30px
    width: 90%

.information-text
  margin-right: 17px