@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap')

/// Viewport sized typography with minimum and maximum values
/// @author Eduardo Boucas (https://codepen.io/eduardoboucas/)
=responsive-font($responsive, $min, $max: false, $fallback: false)
  $responsive-unitless: $responsive / ($responsive - $responsive + 1)
  $dimension: if(unit($responsive) == "vh", "height", "width")
  $min-breakpoint: $min / $responsive-unitless * 100 / 16px + 0em
  @media (max-#{$dimension}: #{$min-breakpoint})
    font-size: $min
  @if $max
    $max-breakpoint: $max / $responsive-unitless * 100 / 16px + 0em
    @media (min-#{$dimension}: #{$max-breakpoint})
      font-size: $max
  @if $fallback
    font-size: $fallback
  font-size: $responsive

body
  background-color: #fff5ee
  margin: 0
  overflow-x: hidden

svg
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 95vh
  z-index: -1

.logo
  color: seashell
  position: absolute
  top: -2.0.5%
  left: 1.5%
  font-family: 'IBM Plex Serif', serif
  // border: 1px solid red
  +responsive-font(2vw, 13px, 15px)

h1
  font-weight: 10

.fist-logo
  margin-right: 7px
  
.matter-text
  font-weight: 1000

.text-body
  width: 60%
  // border: 1px solid red
  margin-top: 90px
  color: seashell
  font-family: 'Merriweather', serif
  +responsive-font(1.5vw, 12px, 17px)
  margin-left: 30px
  @media (max-width: 950px)
    +responsive-font(1.5vw, 12px, 15px)
  @media (max-width: 768px)
    margin-top: 60px

.opening
  animation-name: textFadeIn
  animation-duration: 1.7s

.secondary
  margin-top: 30px
  animation-name: slowerTextFadeIn
  animation-duration: 2.3s
  font-style: italic
  font-weight: 10
  +responsive-font(2vw, 15px, 20px)
  width: 70%

.learn-more
  +responsive-font(2vw, 13px, 17px)
  margin-top: 80px
  font-weight: 1000
  animation-name: slowestTextFadeIn
  animation-duration: 4.5s

@keyframes textFadeIn
  0%
    opacity: 0
  100
    opacity: 1

@keyframes slowerTextFadeIn
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

@keyframes slowestTextFadeIn
  0%
    opacity: 0
  50%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1